 /*--------------開始ページ--------------*/
div#app {
    background-color: aliceblue;
}
.start-screen {
    background-color: aliceblue;
    padding: 25px 10px;
}

div#top-field {
    background-color: #32343b;
    display: flex;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    border-radius: 20px 20px 0px 0px;
}

div#top-field h2 {
    font-size: 20px;
    color: white;
    font-family: 游明朝;
    margin: 10px 15px;
}

div#top-answer-field {
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    border-radius: 0px 0px 20px 20px;
    height: 310px;
    padding: 10px;
}

div#top-answer-field  p {
    display: inline-block;
    margin: 10px 10px 0px 10px ;
}

div#top-answer-field  input {
    margin: 5px 10px 10px 10px;
    font-size: 17px;
    padding: 3px;
}

.alert-box[data-v-d58a7840] {
    color: red;
    position: relative;
    padding: 10px 10px 0px;
}

#start-button[data-v-d58a7840] {
    margin: 20px 10px;
    border-radius: 20px;
    background: #7cbef7;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

button#start-button:active {
    border: 2px solid #5b8ab3;
 }

 /*--------------診断ページ--------------*/
body {
    margin: 0;
    background-color: whitesmoke;
}

.header__logo {
    width: 100px;
}

.header__container {
    background-color: white;
    border-bottom: 1px solid #7cbef7;
}

.header__logo-container {
    padding: 5px;
    display: flex;
}

.header__logo-container p {
    font-size: 10.5px;
    margin: 6px 0px 0px 4px;
}

div#diagnosis-field {
    background-color: aliceblue;
    padding: 25px 10px;
}

div#question-field {
    background-color:#32343b;
    display: flex;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    border-radius: 20px 20px 0px 0px;
}

#question-field h2 {
    font-size: 20px;
    margin: 10px 15px;
    color: white;
    font-family: 游明朝;
}

div#answer-field {
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    border-radius: 0px 0px 20px 20px;
    height: 330px;
}

form#answer-form {
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

.problem-choice {
    margin: 10px 0px;
}

.answer-button {
    background-color: white;
    display: flex;
    justify-content: center;
}

button#next-button {
    margin: 20px 10px;
    border-radius: 20px;
    background: #7cbef7;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

button#next-button:active {
    border: 2px solid #5b8ab3;
 }

.footer-copyrightr {
    background-color: whitesmoke;
    font-size: 12px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #7cbef7;
}

 /*--------------結果ページ--------------*/
#diagnosis-result{
    height: 300px;
}

.result-field{
    padding: 10px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.result-field a {
    display: inline-flex;
    position: relative;
}

.result-field p {
    margin: 5px 0px 5px 15px;
    font-size: 14px;
}

.all-result-pic {
    width: 92px;
    height: 92px;
    border: 1px solid #7cbef7;
}

.result-pic{
    padding: 10px 15px;
    background-color: white;
    display: flex;
    border: 1px solid lightsteelblue;
}

img.top__service-zoom {
    height: 35px;
    position: absolute;
    bottom: 0;
    right: 0;
}


 /*--------------結果ページ--------------*/
